* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  background: #091921;
}

body {
  min-height: 100vh;
  overflow: hidden;
}

section {
  min-height: 100vh;
}

ul {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 70px;
  left: 60px;
}

.btn.add-button {
  position: absolute;
  top: 10px;
  left: 145px;
}

.container .btn.add-button a {
  position: absolute;
  top: 0px;
}

.container input {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 25px;
}

ul li {
  list-style: none;
}

ul li a {
  position: relative;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  z-index: 1000;
  overflow: hidden;
  backdrop-filter: blur(15px);
}

ul li a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: rgba(255, 255, 255, 0.1);
}

ul li:first-child a {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

ul li:nth-last-child(2) a {
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

ul li:nth-child(1):hover~#marker::before {
  background: #fffd87;
  box-shadow: 0 0 15px #fffd87, 0 0 30px #fffd87, 0 0 45px #fffd87, 0 0 60px #fffd87;
}

ul li:nth-child(2):hover~#marker::before {
  background: #00d2ff;
  box-shadow: 0 0 15px #00d2ff, 0 0 30px #00d2ff, 0 0 45px #00d2ff, 0 0 60px #00d2ff;
}

ul li:nth-child(3):hover~#marker::before {
  background: #0f0;
  box-shadow: 0 0 15px #0f0, 0 0 30px #0f0, 0 0 45px #0f0, 0 0 60px #0f0;
}

#marker {
  position: absolute;
  top: 0px;
  width: 41px;
  height: 41px;
  z-index: 1;
  transition: 0.5s;
}

#marker::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
  width: 60px;
  height: 60px;
  background: #ff359b;
  border-radius: 50%;
  transition: 0.5s;
  box-shadow: 0 0 15px #ff359b, 0 0 30px #ff359b, 0 0 45px #ff359b, 0 0 60px #ff359b;
}

section .color {
  position: absolute;
  filter: blur(150px);
  z-index: 0;
}

section .color:nth-child(1) {
  top: -35%;
  width: 60%;
  height: 60%;
  background-color: #ff359b;
}

section .color:nth-child(2) {
  bottom: -30%;
  left: 10%;
  width: 60%;
  height: 60%;
  background-color: #fffd87;
}

section .color:nth-child(3) {
  bottom: 2%;
  right: 10%;
  width: 30%;
  height: 30%;
  background-color: #00d2ff;
}

.container {
  position: relative;
  width: 400px;
  min-height: 600px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 4;
}

.container .btn {
  position: relative;
  width: 100px;
  height: 40px;
  margin: 5px;
  border-radius: 10px;
  transition: 0.5s;
}

.container .btn:hover {
  width: 110px;
}

.container .btn a {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 30px;
  color: #fff;
  font-weight: 600;
  z-index: 1;
  text-decoration: none;
  letter-spacing: 1px;
  overflow: hidden;
  transition: 0.5s;
  backdrop-filter: blur(25px);
}

.container .btn:hover a {
  letter-spacing: 3px;
}

.container .btn a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.5), transparent);
  transform: skewX(45deg) translate(0);
  transition: 0.5s;
}

.container .btn:hover a::before {
  transform: skewX(45deg) translate(200%);
}

.container .btn::before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
}

.container .btn:hover::before {
  bottom: 0px;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.container .btn::after {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -5px;
  width: 30px;
  height: 10px;
  background: #f00;
  border-radius: 10px;
  transition: 0.5s;
}

.container .btn:hover::after {
  top: 0px;
  height: 50%;
  width: 80%;
  border-radius: 30px;
}

.container .btn:nth-child(2)::before,
.container .btn:nth-child(2)::after {
  background: #ff1f71;
  box-shadow: 0 0 5px #ff1f71, 0 0 15px #ff1f71, 0 0 30px #ff1f71, 0 0 60px #ff1f71;
}

.container .btn:nth-child(3)::before,
.container .btn:nth-child(3)::after {
  background: #2bd2ff;
  box-shadow: 0 0 5px #2bd2ff, 0 0 15px #2bd2ff, 0 0 30px #2bd2ff, 0 0 60px #2bd2ff;
}

.container .btn:nth-child(4)::before,
.container .btn:nth-child(4)::after {
  background: #1eff45;
  box-shadow: 0 0 5px #1eff45, 0 0 15px #1eff45, 0 0 30px #1eff45, 0 0 60px #1eff45;
}

canvas {
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.container h2 {
  position: relative;
  padding-top: 5%;
  width: 100%;
  text-align: center;
}

canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

h1 {
  position: absolute;
  top: 2%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  color: #fff;
}

.left-box {
  position: absolute;
  top: 2%;
  left: 5%;
  color: #fff;
  display: grid;
}

.right-box {
  position: absolute;
  top: 2%;
  right: 5%;
  color: #fff;
}

.right-box .container,
.left-box .container {
  max-height: 500px;
  overflow: auto;
  scrollbar-color: rgba(255, 255, 255, 0.5) rgba(255, 255, 255, 0.2);
}

.right-box .container h2 {
  position: sticky;
  top: 10px;
}

.topcontainer {
  width: 400px;
  min-height: 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(5px);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  pointer-events: none;
}

.left-box .circle-properties {
  display: grid;
  margin-left: 25px;
  margin-top: 100px;
  grid-template-columns: 2fr 4fr 1fr;
  transition: 0.5s;
}

.left-box .circle-properties .text {
  grid-column: span 2;
  border: none;
  padding-left: 15px;
  margin-right: 30px;
}

.left-box .circle-properties .uilabel,
.left-box .torus .uilabel,
.left-box .cosstack .uilabel,
.left-box .lissajous .uilabel {
  width: 2fr;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 14px;
}

.left-box .circle-properties .slider,
.left-box .torus .slider,
.left-box .cosstack .slider,
.left-box .lissajous .slider {
  width: 2fr;
  margin-top: 5px;
  margin-bottom: 5px;
}

.left-box .circle-properties .value,
.left-box .torus .value,
.left-box .cosstack .value,
.left-box .lissajous .value {
  width: 50px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 30px;
  text-align: right;
  font-size: 14px;
}

.left-box .torus,
.left-box .cosstack,
.left-box .lissajous {
  grid-template-columns: 2fr 4fr 1fr;
  margin-left: 30px;
  margin-top: 20px;

  display: none;
  opacity: 0;
  translate: -25vw -25vh;
  transition-property: display opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;
}

.left-box .torus.show,
.left-box .cosstack.show,
.left-box .lissajous.show {
  display: grid;
  opacity: 1;
  translate: 0 0;
  transition-property: display opacity;
  transition-duration: 0.5s;
  transition-behavior: allow-discrete;

  @starting-style {
    opacity: 0;
    translate: 25vw -25vh;
  }
}

.left-box .save-button {
  position: relative;
  top: 10px;
  left: 150px;
  margin-bottom: 40px;
}

.right-box .add-button {
  position: sticky;
  top: 60px;
  left: 270px;
  translate: 0 -30px;
}

.right-box .knot {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.left-box,
.right.box,
.topcontainer {
  z-index: 2;
}

.knotlist .knot {
  display: grid;
  grid-template-columns: 8fr 1fr 1fr;
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.01),
    0 15px 35px rgba(255, 255, 255, 0.01);
  color: #fff;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  margin-right: 10px;
  transition: 0.5s;
}

.knotlist .knot:hover {
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.8),
    0 5px 15px rgba(255, 255, 255, 0.8);
}

.knotlist .knot .knotname {
  color: #fff;
  background: linear-gradient(45deg, rgba(255, 255, 255, 0.1), transparent);
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  padding-left: 25px;
  padding-top: 10px;
  justify-content: center;
  align-items: center;

}

.knotlist .knot .loader {
  background: linear-gradient(45deg, rgba(0, 255, 255, 0.2), transparent);
  cursor: pointer;
  padding: 10px;
}

.knotlist .knot .delete {
  background: linear-gradient(45deg, transparent, rgba(255, 0, 0, 0.4));
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  cursor: pointer;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

#alert {
  position: absolute;
  top: 200px;
  left: 550px;
  width: 25vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  color: #fff;
}

#alert::backdrop {
  background: linear-gradient(45deg, transparent, rgba(255, 0, 0, 0.4));
}

#alert h3 {
  width: 22vw;
  text-align: center;
  padding: 10px;
  padding-bottom: 20px;
}

#alert .form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin-left: 40px;
  margin-right: 20px;
}

#alert .form #knotname {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 10px;
  height: 30px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
}

#alert .form #knotname::placeholder {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

#alert .form .button {
  grid-column: 1 / span 2;
  color: #fff;
  height: 30px;
  margin-top: 10px;
  width: 95%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}